:root {
    /* generic */
    --gutterSm: 0.4rem;
    --gutterMd: 0.8rem;
    --gutterLg: 1.6rem;
    --gutterXl: 2.4rem;
    --gutterXx: 7.2rem;
    --colorPrimary400: #7e57c2;
    --colorPrimary600: #20639B;
    --colorPrimary800: #4527a0;
    --fontFamily: "Dosis", sans-serif;
    --fontSizeSm: 1.2rem;
    --fontSizeMd: 1.6rem;
    --fontSizeLg: 2.1rem;
    --fontSizeXl: 2.8rem;
    --fontSizeXx: 3.6rem;
    --lineHeightSm: 1.1;
    --lineHeightMd: 1.8;
    --transitionDuration: 300ms;
    --transitionTF: cubic-bezier(0.645, 0.045, 0.355, 1);

    /* floated labels */
    --inputPaddingV: var(--gutterMd);
    --inputPaddingH: var(--gutterLg);
    --inputFontSize: var(--fontSizeLg);
    --inputLineHeight: var(--lineHeightMd);
    --labelScaleFactor: 0.8;
    --labelDefaultPosY: 50%;
    --labelTransformedPosY: calc(
            (var(--labelDefaultPosY)) -
            (var(--inputPaddingV) * var(--labelScaleFactor)) -
            (var(--inputFontSize) * var(--inputLineHeight))
    );
}
.button-select {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.button-link {
    margin-top: 18px;
}
.no-room{
    background-color: #78e08f;
}
.name-input{
    display: block;
    margin: 10px;
    padding: var(--inputPaddingV) var(--inputPaddingH);
    color: inherit;
    width: 70%;
    font-family: inherit;
    font-weight: inherit;
    border: none;
    border-radius: 0.4rem;
    box-shadow: 0.2rem 0.8rem 1.6rem var(--colorPrimary600);
    outline: none;
}

.name-input::placeholder {
    color: #B0BEC5;
}

.name-input:focus {


}

.existing-room{
    background-color: crimson;
}
.webinar-selected{
    background-color: #cccccc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    height: 150px;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}
.room-selected {
    height: 150px;
    background-color: #cccccc;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}
.head{
    height: 100px;
}
.test{
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #006dcc;
    *background-color: #0044cc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
}